{% extends "template.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
{% endblock %}
{% block content %}
<body class="theme theme_font_neoskeuo theme_space_neoskeuo theme_color_neoskeuo">
    <h1 style="padding-top: 30px;">Commodity Price Prediction Engine</h1>
    <p> developer: Ian Kim</p>

	</br>

<div class="neudiv" style="width: 100%;">
  <div class="" style="width: 100%">
    <div class="contentBx">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
</br>
</br>

<div class="neudiv" style="width: 100%;">

  <div class="" style="width: 100%">
    <div class="contentBx">

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Models</label>
        </div>
        <select class="custom-select" id="model-selection">
          <option selected>Choose Model</option>
          <option value="1">10 dps univariate LSTM (soybean oil)</option>
          <option value="2">20 dps univariate LSTM (soybean oil)</option>
          <option value="3">30 dps univariate LSTM (soybean oil)</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Forward Prediction</label>
        </div>
        <select class="custom-select" id="predict_mode">
          <option selected>Choose time frame</option>
          <option value="1">1 (+30m) step ahead</option>
          <option value="2">2 (+1hr) steps ahead</option>
          <option value="3">3 (+1.5hr) steps ahead (WARNING)</option>
          <option value="4">4 (+2hr) steps ahead (WARNING)</option>
          <option value="5">5 (+2.5hr) steps ahead (WARNING)</option>
          <option value="6">6 (+3 hr) steps ahead (WARNING)</option>
          <option value="7">7 (+3.5 hr) steps ahead (WARNING)</option>
        </select>
      </div>


	<input id="price_input" name="price_input" type="number" style="width:100%;" class="input decorator decorator_indent-b_xl" placeholder="Input Prices" autocomplete="off"/>
  </br>
    <a id="add_data" href="#" style="float: right; margin-left:0px;" class="button">
      <div id="spinner"> 
          <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
      <div id="text">
        Upload Data
      </div>
    </a>

<a id="test_init_add_data" href="#" style=" margin-left:0px;" class="button">
        Add Init Data
    </a>


    </div>
  </div>
</div>


</br>
</br>


<div class="neudiv" style="width: 100%;">

  <div class="" style="width: 100%">
    <div class="contentBx">

      Last price: <h4 id="lastprice"></h4>
      next predicted price: <h4 id="predprice"></h4>
      Average percent error: <h4 id="curracc"></h4>
      times run: <h4 id="daysrun"></h4>

    </div>
  </div>
</div>

</body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='index.js')}}?10"></script>
{% endblock %}
